h1 {
    font-size: 44px;
    color: red;
    font-style: normal;
    margin-top: 20px;
}

h1, p {
  margin-left: 20px;
}

p {
  font-family: sans-serif;
  font-style: normal;
  font-size: 24px;
  color: white;
}

#instructions {
  margin-top: 5px;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 12px;
}

body {
 background-image: url("https://media.gettyimages.com/photos/pictured-cohost-ed-mcmahon-with-host-johnny-carson-as-carnac-the-picture-id138414425");
 background-size: cover;
}

#wins, #losses, #guessesLeft, #guessesSoFar {
  text-align: center;
}
